<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.datnt.remitextart">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemiTextArt"
        tools:targetApi="31">
        <activity
            android:name=".activity.edit.AddTextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.edit.EditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.setting.Settings"
            android:exported="false" />
        <activity
            android:name=".activity.template.TemplateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.project.ProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.project.CreateProjectActivity"
            android:exported="false" />
        <activity
            android:name=".activity.permission.RequestPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>